* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9fdcf1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

label, select {
  margin-bottom: 15px;
}

#matrix-container {
  margin-bottom: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

input[type="number"] {
  width: 80px;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #ff85d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: d856a6;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
