* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3f2fd;
}

.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label, .result h3 {
  font-size: 1.1rem;
  color: #0d47a1;
}

#pointsInput input {
  margin: 5px;
  padding: 8px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff85d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d856a6;
}

.solution-steps {
  margin-top: 20px;
  padding: 10px;
  background-color: #bdeedabd;
  border-radius: 5px;
  color: #004d40;
  line-height: 1.6;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background-color: #bdeedabd;
  border-radius: 5px;
  color: #004d40;
  text-align: center;
}

canvas {
  margin-top: 20px;
}
